 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

 * {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }

 body {
   background: #fff;

 }

 .sidebar::-webkit-scrollbar-track {
   background: white;
   direction: ltr !important;
 }


 .sidebar::-webkit-scrollbar {
   width: 7px;
   height: 1px;
 }


 .sidebar::-webkit-scrollbar-thumb:hover {
   background: #ccc;
 }

 ::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: lightgray !important;
 }

 .sidebar {
   position: fixed;
   top: 0;
   left: 0;
   width: 300px;
   height: 100%;
   background: #11726c;
   color: #11726c;
   padding: 1px 14px;
   transition: .5s;
   overflow: hidden;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   padding: 20px 5px 0 20px;
 }

 .sidebar .list {
   margin-top: -6px;
 }

 .list .list-item {
   list-style: none !important;
   text-decoration: none;
   width: 100%;
   height: 50px;
   margin: 5px 0;
   line-height: 50px;

 }

 .list .list-item a {
   display: flex;
   align-items: center;
   font-size: 18px;
   color: #fff;
   text-decoration: none;
   border-radius: 28px;
   border-radius: 31px 0 0 31px;
   white-space: nowrap;


 }


 .list-item:hover a {
   background-color: #ffffff;
 }

 .list-item:hover a i,
 .list-item:hover a .link-name {
   color: #008ea1;
 }

 .list .list-item a:hover {
   background: #fff;
 }

 .list .list-item {
   position: relative;
 }

 .list .list-item a::before {
   content: '';
   position: absolute;
   right: -6px;
   width: 50px;
   height: 50px;
   background: transparent;
   /* background: red; */
   border-radius: 50%;
   box-shadow: 35px 35px 0 10px var(--white);
   pointer-events: none;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
 }

 .list .list-item a::after {
   content: '';
   position: absolute;
   right: -6px;
   width: 56px;
   height: 50px;
   background: transparent;
   /* background: red; */
   border-radius: 50%;
   box-shadow: 35px -35px 0 10px var(--white);
   pointer-events: none;
   opacity: 0;
   transition: opacity 0.3s;
 }

 .list .list-item a::before {
   top: -50px;
 }

 .list .list-item a::after {
   bottom: -50px;
 }

 .list .list-item:hover a::before,
 .list .list-item:hover a::after {
   opacity: 1;
 }

 :root {
   --white: #fff;
   --red: #464646;
 }

 .list .list-item a i {
   min-width: 50px;
   height: 50px;
   text-align: center;
   line-height: 50px;
 }

 .sidebar .link-name {
   pointer-events: none;
   transition: opacity .3s;
 }

 .mg {
   margin-top: 21px;
   margin-bottom: 10px;
   width: 215px;
   height: 150px;
   padding-inline: 6px;
   border-radius: 30px;
   margin-left: 12px;
   list-style: none;
 }


 /* .list .list-item {           
            position: relative;
        } */

 .logo-menu i {
   font-size: 150px;
   color: white;
   display: flex;
   padding-inline: 45px;
   ;
   margin-bottom: 0px;
 }

 .logo-menu img {
   width: 300px;
   height: 150px;
   border-radius: 50%;
   display: flex;
   padding-inline: 50px;
   ;
   margin-bottom: 1px;
   margin-left: -20px;
   margin-top: 10px;
 }

 .img-list li {
   list-style: none;
 }